<form method="post">
    <table style="width:100%">
        <tr>
            <% columns.forEach((c)=>{ %>
                <th><%= c %></th>
            <% }) %>
            <% if (last_column && action) { %>
                <th><%= last_column %></th>
            <% } %>
        </tr>

        <% rows.forEach((r)=>{ %>
            <tr>
                <% columns.forEach((c)=>{ %>
                    <td><%= r[c] %></td>
                <% }) %>
                <% if (last_column && action) { %>
                    <td><%- include(`${action}.ejs`, {row: r}) %>  </td>
                <% }%>
            </tr>
        <% }) %>
    </table>
</form>