<%- include('_head.ejs', {title: 'Create Client'}) %>
<form class="w3-container light-border" method="post">
    <div style="width:260px">
        <p>First Name: <input style="float:right" type="text" name="FirstName"></p>
        <p>Last Name: <input style="float:right" type="text" name="LastName"></p>
        <p>Email: <input style="float:right" type="text" name="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"></p>
        <p>Phone: <input style="float:right" type="tel" name="Phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"></p>
    </div>
    <p>Billing method: <br>
        <input type="radio" name="BillingMethod" value="Debit"> Debit
        <input type="radio" name="BillingMethod" value="Cash"> Cash
        <input type="radio" name="BillingMethod" value="Credit"> Credit
    </p>
    <div class="w3-container" style="width:470px">
        <input type="button" value="Cancel" onclick="window.history.back()">
        <input style="float:right" type="submit" value="Done">
    </div>
</form>
<%- include _tail.ejs%>
