body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div #item {
  border: 2px solid cornflowerblue;
  margin: 8px;
  padding-left: 5px;
}
/*td {*/
/*  text-align: left;*/
/*}*/
.w3-container{
  padding: 8px;
  margin: 5px;
  width: 600px;
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}
#step1{
  display: inherit;
}
#step2{
  display:none;
}
#step3{
  display: none;
}
.align-left{
  text-align:left;
}
.align-right{
  text-align:right;
}

.light-border {
  border: 2px solid cornflowerblue;
}

a {
  color: #00B7FF;
}
